* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex;
    justify-content: center;
}

.calculator-container {
    padding: 16px;
    width: 400px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: gray;
}

.calculator-display-container {
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 12px 12px 24px;
    margin-bottom: 20px;
    text-align: end;
}

.calculator-mini-display {
    font-size: 22px;
    margin-bottom: 12px;
}

.calculator-display {
    font-size: 40px;
}

.buttons-container {
    display: flex;
    gap: 10px;
}

.button {
    flex: 1;
    padding: 16px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}

.button.clear {
    background-color: tomato;
}

.button.delete {
    background-color: cornflowerblue;
}